!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title ReactAndmingsationTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = react_component 'Navbar', {data: {signed_in: user_signed_in?, user: current_user}}
    = react_component 'Banner', {data: banners}
    = content_for?(:devise) ? yield(:devise) : yield(:general)
    .row.column
      #footer
        %p Copyright® 2016, Ming's React and mingsation Test Project.
    .row{id:"modal_wrapper",style:'display:none'}
